<div class="card text-bg-dark">
    <div class="card-header">
        <h2>Lista de Clientes</h2>
    </div>
    <div class="card-body">
        <div class="row gx-1">
            <div class="col-2">
                <a href="/Clientes/Cadastro" class="btn btn-success btn-sm">Cadastro de Cliente</a>
            </div>
            <div class="col-3">
                <select name="TipoBusca" class="form-select form-select-sm">
                    <option value="0">Todoas os campos</option>
                    <option value="id">Buscar por Id</option>
                    <option value="nome">Buscar por Nome</option>
                    <option value="telefone">Buscar por Telefone</option>
                </select>
            </div>
            <div class="col-3">
                <input name="Pesquisa" type="text" class="form-control form-control-sm" />
            </div>
            <div class="col-1">
                <a href="/Clientes/Cadastro" class="btn btn-info btn-sm">Pesquisar</a>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Suelen</td>
                    <td>(16) 9999-9999</td>
                    <td>
                        <a href="/Clientes/Editar/1" class="btn btn-warning btn-sm">Editar</a>
                        <a href="/Clientes/Excluir/1" class="btn btn-danger btn-sm">Excluir</a>
                        <a href="/Clientes/Compras/1" class="btn btn-primary btn-sm">Lista de Compra</a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Cleber</td>
                    <td>(16) 9999-9999</td>
                    <td>
                        <a href="/Clientes/Editar/2" class="btn btn-warning btn-sm">Editar</a>
                        <a href="/Clientes/Excluir/2" class="btn btn-danger btn-sm">Excluir</a>
                        <a href="/Clientes/Compras/2" class="btn btn-primary btn-sm">Lista de Compra</a>
                    </td>

                </tr>
                <tr>
                    <td>3</td>
                    <td>Izaias</td>
                    <td>(16) 9999-9999</td>
                    <td>
                        <a href="/Clientes/Editar/3" class="btn btn-warning btn-sm">Editar</a>
                        <a href="/Clientes/Excluir/3" class="btn btn-danger btn-sm">Excluir</a>
                        <a href="/Clientes/Compras/3" class="btn btn-primary btn-sm">Lista de Compra</a>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>