@model AulaWebApp.Entidades.PermissaoEntidade

<form   action="/Permissao/SalvarDados" method="post">
    
    <label>Descrição</label>
    <input  name="Descricao" />
    <button type="submit">Salvar</button>
    
</form>